<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载</title>
</head>
<body>
<a href="itms-services://?action=download-manifest&url=https://gitee.com/497500306/bihu_fenfa/raw/master/manifest.plist">
    币乎测试版
</a>
</body>
</html>