<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>医家管理平台</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        #tianjiabanbenkongzhiNav{
            text-align:right;
        }
         #tianjiabanbenkongzhiBtn{
             margin-bottom: 20px;
             margin-right: 30px;
         }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">诺兰医药管理平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">新闻模块 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">中心导入</a></li>
                        <li><a href="#">新闻导入</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">问题反馈 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">全部反馈</a></li>
                        <li><a href="#">患者端反馈</a></li>
                        <li><a href="#">医生端反馈</a></li>
                    </ul>
                </li>

                <li><a href="#">权限设置</a></li>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">版本控制<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id = "azhzdbbkz">安卓患者端</a></li>
                            <li><a id = "azysdbbkz">安卓医生端</a></li>
                            <li><a id = "ioshzdbbkz">IOS患者端</a></li>
                            <li><a id = "iosysdbbkz">IOS医生端</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=userName %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id = "xiugai" >修改密码</a></li>
                        <li><a id = "tuichu" >退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    //点击修改密码
    $('#xiugai').on('click', function () {
        alert('修改密码');
    })
    //点击退出登录
    $('#tuichu').on('click', function () {
        alert('退出登录');
    })
    //安卓患者端版本控制
    $('#azhzdbbkz').on('click', function () {
        $.post('node/bbkz',{
            'appId' : 1
        },function (result) {
            if (result.isSucceed == '1') {
                location.href = result.url;
            }
        });
    })
    //安卓医生端版本控制
    $('#azysdbbkz').on('click', function () {
        $.post('node/bbkz',{
            'appId' : 2
        },function (result) {
            if (result.isSucceed == '1') {
                location.href = result.url;
            }
        });
    })
    //ios患者端版本控制
    $('#ioshzdbbkz').on('click', function () {
        $.post('node/bbkz',{
            'appId' : 3
        },function (result) {
            if (result.isSucceed == '1') {
                location.href = result.url;
            }
        });
    })
    //ios医生端版本控制
    $('#iosysdbbkz').on('click', function () {
        $.post('node/bbkz',{
            'appId' : 4
        },function (result) {
            if (result.isSucceed == '1') {
                location.href = result.url;
            }
        });
    })
    //点击版本控制
    $('#tianjiabanbenkongzhiBtn').on('click',function () {

    })
</script>
</body>
</html>